@charset "UTF-8";

/*===================================
　一覧ページ
===================================*/
.userList{
    width: 100%;
    margin: auto;
    padding: 20px;
    overflow: auto;
    border: solid 1px #fafafa;
    background: #fafafa;
}
.userList>li{
    margin-bottom: 20px;
}
.userList>li:last-child{
    margin-bottom: 0px;
}
.userList>li>ul{
    width: 100%;
    display: flex;
}
.userList>li>ul>li{
    display: inline-block;
    white-space: nowrap;
    margin-right: 15px;
}
.userList>li>ul>li.delete>a{
    color:red;
}